@tailwind base;
@tailwind components;
@tailwind utilities;



.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.nav-item-principal{
  @apply md:text-black text-sm  font-certia hover:bg-transparent !important;
}
.nav-item{
  @apply md:text-white text-sm font-certia sm:text-black text-white xl:hover:text-black xl:hover:bg-white rounded-none p-2;
}

.submenuitem{
  @apply p-4 !important;
}

.submenuitem::after {
  content: '';
    position: absolute;
    left: 20%;
    top: 0%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff; 
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

@media screen and (max-width: 768px) {
  .submenuitem::after {
    border-top: 10px solid #000; 
    left: 10%;
  }

}


.nav-item.active {
  color: #7DA0BB;
}

.navbar{
  @apply flex justify-between items-center;
}

.navbar summary:active, .navbar summary:focus{
  @apply outline-none bg-transparent !important;
}

/*home*/

.home_title{
  @apply md:text-4xl text-xl font-bold font-garamond text-center tracking-wider leading-normal;
}

/* line button */
.line-buttontext{
  @apply md:text-lg text-xs font-certia;
}

.line-buttoncontainer{
  @apply flex items-center justify-center gap-4;
}

/* title text */
.titletext_title{
  @apply md:text-3xl text-xl font-bold font-garamond md:w-1/2 text-center tracking-wider leading-normal;
}

.text_title{
  @apply text-center font-garamond italic md:text-lg text-sm;
}

.separator{
  @apply bg-black w-[20px] h-[2px] my-4;
}

/* Custom card */
.titletext_card{
  @apply md:text-3xl text-xl font-bold font-garamond text-center tracking-wider leading-normal;
}

/* Banner */
.banner_container{
  @apply flex flex-col justify-center items-center gap-4 shadow-xl relative;
}

/* group */
.group_container{
  @apply  bg-cover bg-center bg-no-repeat md:flex-grow h-52 flex items-start justify-center relative md:w-full w-1/2 cursor-pointer;
}

/* highlight */
.highlight_container{
  @apply bg-cover bg-center bg-no-repeat md:flex-grow h-52 flex items-end justify-end relative md:w-full w-1/2 cursor-pointer;
}

/* animation */
.animation{
  @apply md:transition-transform md:duration-500 md:ease-in-out md:transform md:hover:scale-105 md:hover:z-10;
}