@tailwind base;
@tailwind components;
@tailwind utilities;



.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.nav-item-principal{
  @apply md:text-black text-sm  font-certia;
}
.nav-item{
  @apply xl:text-white text-sm font-certia md:text-black text-white md:hover:text-black md:hover:bg-white rounded-none p-2;
}

.submenuitem{
  @apply p-4 !important;
}

.submenuitem::after {
  content: '';
    position: absolute;
    left: 20%;
    top: 0%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff; 
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}

@media screen and (max-width: 768px) {
  .submenuitem::after {
    border-top: 10px solid #000; 
    left: 10%;
  }

}


.nav-item.active {
  color: #7DA0BB;
}

.navbar{
  @apply flex justify-between items-center;
}

.navbar summary:active, .navbar summary:focus{
  @apply outline-none bg-transparent !important;
}

/*home*/

.home_title{
  @apply text-4xl font-bold font-bodoni md:w-1/2 text-center tracking-wider leading-normal;
}